
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deposit</title>

  </head>
  <body>
  <h1>Pacific Banking Account Deposit</h1>

  <h3>Please enter the following information:</h3>

   <form action="/deposit" method="POST">
	Enter an account name: <br> 
    	<input type="accountName" id="accountName" name="accountName" placeholder="Account Depositing to" maxlength="15" required>
    <br>
    
    Enter the amount you are depositing: <br>
    	<input type="number" id="depAmount" name="depAmount" placeholder="Amount" min="0.01" step="0.01" required>
    <br>

    	<input type="submit" value="Deposit" />
  </form>
  
  <a href="/DirectCreateBankAccount">Create an account</a><br>
  <a href="/login">Home</a><br>

  </body>
</html>

