<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>

  </head>
  <body>
  <h1>Pacific Banking</h1>

  <h3>Customer Login</h3>

  <form action="/login" method="post">
    <input type="text" id="username" name="username" placeholder="Enter Username.">
    <br>

    <input type="password" id="pass" name="password" placeholder="Enter Password."
			minlength="10" required>
    <br>

    <input type="submit" value="Login" />
  </form>
  <a href="/new-user-signup">Sign up for account.</a>



  </body>
</html>
